<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="login-wrap">
    <div class="form">
        <form action="/login" method="post">
            <div class="input_text">
                <label for="form-id">아이디</label><input id="form-id" type="text" name="email">
                <br/>
                <label for="form-pw">패스워드</label>
                <input id="form-pw" type="password" name="password">
            </div>
            <div class="footer">
                <button type="submit">로그인</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>